<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!-- hasta noviembre del 2019 lo sellos digitales que se generan en el sistema no tienen ningún control,
    ya que la clave para firmar esta almacenada en el codigo fuente del sistema, para darle una seguridad
    minima a los sellos digitales del ssistema de contratos es necesario que esta llave sea administrada
    por el responsable de laoperación del sistema para que los programadores no puedan modificar la base de datos
    histórica de sellos digitales, esto se hizó evidente en la atención del ticlet TK11877 y se documento
    la situación.
    Se realizó la modificación del sistema para corregir la deficiencia -->
    <add key="SecretoParaSelloDigital" value='[{"FechaAlta":"2010-01-04","Clave":"Ejemplo para ver como introducir otra clave"},{"FechaAlta":"2019-11-25","Clave":"Esta cadena debe ser secreta y administrada por operación del sistema, para evitar que los programadores puedan modificar la base de sellos historica de producción"}]' />
  </appSettings>
</configuration>